{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/www/psy-diagnostics.newsystempsy.com",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1614316789584,
          "date": "2024-04-02T11:17:59.328Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1712154233480.137,
          "date": "2024-04-03T14:26:32.402Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1614316776707.5503,
          "date": "2024-04-02T11:18:00.064Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1712214206900.492,
          "date": "2024-04-04T07:17:37.358Z"
        },
        {
          "file": "css/styles.css",
          "mtimeMs": 1712215029549.6484,
          "date": "2024-04-04T07:17:38.009Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1712215031562.6848,
          "date": "2024-04-04T07:17:38.473Z"
        },
        {
          "file": "css/styles.min.css.map",
          "mtimeMs": 1712215031566.6858,
          "date": "2024-04-04T07:17:38.902Z"
        },
        {
          "file": "fonts/InterBold.eot",
          "mtimeMs": 1711945486000,
          "date": "2024-04-02T11:18:02.359Z"
        },
        {
          "file": "fonts/InterBold.svg",
          "mtimeMs": 1711945486000,
          "date": "2024-04-02T11:18:03.257Z"
        },
        {
          "file": "fonts/InterBold.ttf",
          "mtimeMs": 1711945486000,
          "date": "2024-04-02T11:18:03.828Z"
        },
        {
          "file": "fonts/InterBold.woff",
          "mtimeMs": 1711945486000,
          "date": "2024-04-02T11:18:04.386Z"
        },
        {
          "file": "fonts/InterBold.woff2",
          "mtimeMs": 1711945490000,
          "date": "2024-04-02T11:18:04.919Z"
        },
        {
          "file": "fonts/InterRegular.eot",
          "mtimeMs": 1711945512000,
          "date": "2024-04-02T11:18:05.590Z"
        },
        {
          "file": "fonts/InterRegular.svg",
          "mtimeMs": 1711945512000,
          "date": "2024-04-02T11:18:06.596Z"
        },
        {
          "file": "fonts/InterRegular.ttf",
          "mtimeMs": 1711945512000,
          "date": "2024-04-02T11:18:07.262Z"
        },
        {
          "file": "fonts/InterRegular.woff",
          "mtimeMs": 1711945512000,
          "date": "2024-04-02T11:18:07.712Z"
        },
        {
          "file": "fonts/InterRegular.woff2",
          "mtimeMs": 1711945516000,
          "date": "2024-04-02T11:18:08.092Z"
        },
        {
          "file": "fonts/RGStandardBold.eot",
          "mtimeMs": 1711945590000,
          "date": "2024-04-02T11:18:08.516Z"
        },
        {
          "file": "fonts/RGStandardBold.svg",
          "mtimeMs": 1711945590000,
          "date": "2024-04-02T11:18:09.036Z"
        },
        {
          "file": "fonts/RGStandardBold.ttf",
          "mtimeMs": 1711945590000,
          "date": "2024-04-02T11:18:09.713Z"
        },
        {
          "file": "fonts/RGStandardBold.woff",
          "mtimeMs": 1711945590000,
          "date": "2024-04-02T11:18:10.220Z"
        },
        {
          "file": "fonts/RGStandardBold.woff2",
          "mtimeMs": 1711945592000,
          "date": "2024-04-02T11:18:10.686Z"
        },
        {
          "file": "img/icons/b-arrow.png",
          "mtimeMs": 1712154253393.635,
          "date": "2024-04-03T14:26:32.786Z"
        },
        {
          "file": "img/images/about-1.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:33.153Z"
        },
        {
          "file": "img/images/about-2.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:33.553Z"
        },
        {
          "file": "img/images/about-3.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:33.956Z"
        },
        {
          "file": "img/images/about-4.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:34.753Z"
        },
        {
          "file": "img/images/arrow-1-full.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:35.765Z"
        },
        {
          "file": "img/images/arrow-1-mob.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:37.384Z"
        },
        {
          "file": "img/images/arrow-down.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:38.879Z"
        },
        {
          "file": "img/images/author-1-thread.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:39.664Z"
        },
        {
          "file": "img/images/author-1.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:41.596Z"
        },
        {
          "file": "img/images/author-2-thread-mob.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:42.259Z"
        },
        {
          "file": "img/images/author-2.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:42.818Z"
        },
        {
          "file": "img/images/author-3.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:43.867Z"
        },
        {
          "file": "img/images/face.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:45.386Z"
        },
        {
          "file": "img/images/logo-2.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:46.067Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:46.737Z"
        },
        {
          "file": "img/images/main-full.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:48.383Z"
        },
        {
          "file": "img/images/threads-1-mob.png",
          "mtimeMs": 1712136366000,
          "date": "2024-04-03T14:26:51.276Z"
        },
        {
          "file": "img/images/threads-2-mob.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:51.591Z"
        },
        {
          "file": "img/images/threads-2.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:51.928Z"
        },
        {
          "file": "js/libs.js",
          "mtimeMs": 1712213981254.654,
          "date": "2024-04-04T06:59:48.638Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1712213988094.4536,
          "date": "2024-04-04T06:59:53.465Z"
        },
        {
          "file": "js/libs.min.js.map",
          "mtimeMs": 1712213988112.4497,
          "date": "2024-04-04T06:59:53.969Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1712213840467.047,
          "date": "2024-04-04T06:57:41.764Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1712213841549.044,
          "date": "2024-04-04T06:57:42.124Z"
        },
        {
          "file": "js/scripts.min.js.map",
          "mtimeMs": 1712213841558.0476,
          "date": "2024-04-04T06:57:42.474Z"
        },
        {
          "file": "img/images/main-mob.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:49.273Z"
        },
        {
          "file": "img/images/next.png",
          "mtimeMs": 1712136366000,
          "date": "2024-04-03T14:26:50.254Z"
        },
        {
          "file": "img/images/prev.png",
          "mtimeMs": 1712136366000,
          "date": "2024-04-03T14:26:50.937Z"
        },
        {
          "file": "img/images/b-arrow.png",
          "mtimeMs": 1712136316000,
          "date": "2024-04-03T14:26:44.804Z"
        },
        {
          "file": "img/images/logo-2.svg",
          "mtimeMs": 1712213211501.6074,
          "date": "2024-04-04T06:57:38.985Z"
        },
        {
          "file": "img/images/logo.svg",
          "mtimeMs": 1712213191864.0752,
          "date": "2024-04-04T06:57:39.612Z"
        },
        {
          "file": "img/images/main-mob-2.png",
          "mtimeMs": 1712215087742.4102,
          "date": "2024-04-04T07:18:23.411Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/libs.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/scripts.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css/styles.css"
        }
      },
      {
        "file": "css/styles.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "css/styles.min.css"
        }
      },
      {
        "file": "js/libs.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/libs.min.js"
        }
      },
      {
        "file": "js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "js/scripts.min.js",
          "tasks": {
            "concat-js": {
              "enable": true
            }
          }
        }
      }
    ]
  }
}
