header
	a(href="https://iomp.ru", target="_blank")
		img.header-logo(src=path+"img/images/logo.png", alt="Логотип")
	.header-menu
		ul.header-menu-list
			li
				a(href='#about') Польза диагностики
			li
				a(href='#plan') Программа диагностики
			li
				a(href='#authors') Эксперт
			li
				a(href='#revs') Отзывы
	.mobile-menu
		.mobile-menu-line.mobile-menu-line-1
		.mobile-menu-line.mobile-menu-line-2
		.mobile-menu-line.mobile-menu-line-3