footer
	.container
		.footer-main
			a(href="https://iomp.ru", target="_blank")
				img.footer-logo(src=path+"img/images/logo-2.svg", alt="Логотип")
			.footer-info
				.footer-info-item
					p 125315, г. Москва, пр-кт Ленинградский, д. 68, стр. 24, эт/пом/ком 2/IV/20
					p
						a(href="tel:8(495)1520801" target='_blank') 8 (495) 152 08 01
					p
						a(href="mailto:info@iomp.ru" target='_blank') info@iomp.ru
				.footer-info-item
					p ООО «ИСП» ОГРН 1197746615736
					p ИНН 7727431274
					p КПП 771401001
		.footer-links
			a(href="https://iomp.ru/privacy" target='_blank') Политика конфиденциальности.
			a(href="https://iomp.ru/public-offer" target='_blank') Публичная оферта.