@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'

@import 'base/2-base'

@import 'base/3-header'
@import 'main/1-main'
@import 'main/2-about'
@import 'main/3-plan'
@import 'main/4-authors'
@import 'base/4-footer'