#main
	padding 20px 0 115px
	background-color: #C4E8E5
.main-title
	font-family: RG
	font-size: 55px
	font-weight: bold
	margin 180px 0 20px
.main-subtitle
	font-size: 17px
	color #666666
	margin-bottom: 100px
	width 100%
	max-width 590px