#plan
	padding 60px 0
	background-color: #C4E8E5
.gt-wrapper
	position relative
	padding 43px 40px 43px 0
	margin-bottom: 47px
	display inline-block
	&:before
		content ''
		position absolute
		top 0
		right 0
		height 100%
		width 100vw
		background-color #fff
		border-top-right-radius: 39px
		border-bottom-right-radius: 39px
		z-index 0
	.general-title
		margin-bottom: 0
.step
	position relative
	padding 8px 0 13px 30px
	margin-bottom: 18px
	@media screen and (max-width 386px)
		padding 8px 0 13px 15px
	.content
		display flex
		align-items: center
		justify-content: flex-start
	&:last-of-type
		margin-bottom: 80px
	&:before
		content ''
		position absolute
		top 0
		left 0
		height 100%
		width 100vw
		background-color #fff
		border-top-left-radius: 39px
		border-bottom-left-radius: 39px
		z-index 0
	&-num
		width 61px
		text-align center
		@media screen and (max-width 386px)
			width 40px
		h4
			font-size: 48px
			color #247974
			@media screen and (max-width 386px)
				font-size: 32px
.step-info
	position relative
	padding 35px 0 35px 20px
	margin-left: 22px
	@media screen and (max-width 386px)
		padding 20px 0 20px 15px
		margin-left: 14px
	&:before
		content: ''
		display block
		position absolute
		top 0
		left 0
		height 100%
		width 2px
		background-color: #247974
	&-title
		color #247974
		font-family: RG
		font-size: 24px
		font-weight: bold
		@media screen and (max-width 386px)
			font-size: 22px
	&-text
		margin 10px 0 15px
		span
			font-weight: bold
		&:last-of-type
			margin 0