#revs
	padding 60px 0
.general-title-revs
	width 60%
.revs-slider-text
	margin 0 auto 80px
.text-rev-img
	background-color: #F5F5F5
	border-radius: 23px
	border: 1px solid #AFAFAF
	display block
	margin 0 auto
	width 266px
	height: 461px