I = 'Inter', sans-serif;
RG = 'RGStandardBold', sans-serif;

@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/InterRegular.eot');
	src: url('../fonts/InterRegular.eot') format('embedded-opentype'),url('../fonts/InterRegular.woff2') format('woff2'),url('../fonts/InterRegular.woff') format('woff'),url('../fonts/InterRegular.ttf') format('truetype'),url('../fonts/InterRegular.svg#InterRegular') format('svg');
@font-face
	font-family: 'Inter';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/InterBold.eot');
	src: url('../fonts/InterBold.eot') format('embedded-opentype'),url('../fonts/InterBold.woff2') format('woff2'),url('../fonts/InterBold.woff') format('woff'),url('../fonts/InterBold.ttf') format('truetype'),url('../fonts/InterBold.svg#InterBold') format('svg');
@font-face
	font-family: 'RGStandardBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/RGStandardBold.eot');
	src: url('../fonts/RGStandardBold.eot') format('embedded-opentype'),url('../fonts/RGStandardBold.woff2') format('woff2'),url('../fonts/RGStandardBold.woff') format('woff'),url('../fonts/RGStandardBold.ttf') format('truetype'),url('../fonts/RGStandardBold.svg#RGStandardBold') format('svg');