footer
	background-color #C4E8E5
	padding 20px 0 15px
	font-size: 13px
	@media screen and (max-width 991px)
		padding: 40px 0 35px
	a
		&:focus
		&:hover
			color #000
	.&-main
		padding 23px 0 32px
		border-top: 1px solid #000
		border-bottom: 1px solid #000
	.&-info
		margin-top: 25px
		display flex
		align-items: flex-start
		justify-content: space-between
		p
			margin-bottom: 5px
		@media screen and (max-width 991px)
			display block
			margin-top: 0
		&-item
			@media screen and (max-width 991px)
				margin-top: 40px
	.&-links
		margin-top: 15px
		a
			margin-right: 5px
			display inline-block
			margin-bottom: 5px