section#main
	.container
		.content
			include ../base/1-header
			+img('general-img general-img-main', 'img/images/main-full.png', 'Девушка')
			+img('general-img general-img-main-mob', 'img/images/main-mob.png', 'Девушка')
			+img('general-img general-img-main-mob-2', 'img/images/main-mob-2.png', 'Девушка')
			.content
				.row
					.col-md-10
						h1.main-title Как современной женщине освободиться от&nbsp;психологических трудностей и обрести гармонию?
						h2.main-subtitle Сделайте первый шаг к&nbsp;переменам и решению ваших проблем, пройдя короткую диагностику с&nbsp;нашим специалистом.
						.button-wrapper.button-wrapper-left
							a.button(class='button-main' href=href) Подробнее 
								+img('', 'img/icons/b-arrow.png', 'Стрелка')