section#about
	.content
		+img('general-img general-img-about-1', 'img/images/threads-2.png', 'Нити')
	.container
		.content
			+gt('', 'Диагностика')
			p.general-text это способ объективно посмотреть на&nbsp;ситуацию в&nbsp;вашей жизни 
				br.mob-none
				| и выбрать следующий шаг, с&nbsp;которого начнутся изменения к&nbsp;лучшему.
			.row
				.col-md-5
					.content
						+img('general-img general-img-about-arrow-1', 'img/images/arrow-1-full.png', 'Стрелка')
						+img('general-img general-img-about-arrow-2', 'img/images/arrow-1-mob.png', 'Стрелка')
				.col-md-6
					.about-item.about-item-green.about-item-single.about-item-single-1
						h5.about-item-single-title В&nbsp;каких случаях диагностика будет полезной?
			.about-items
				+img('general-img general-img-about-1-mob', 'img/images/threads-1-mob.png', 'Нити')
				+img('general-img general-img-about-2-mob', 'img/images/threads-2-mob.png', 'Нити')
				.row
					.col-md-5
						.about-item.about-item-pink
							.about-item-head
								+img('about-item-head-img', 'img/images/about-1.png', 'Проблемы в&nbsp;отношениях с&nbsp;партнером')
								h5.about-item-head-title Проблемы в&nbsp;отношениях с&nbsp;партнером
							ul.general-list
								li В&nbsp;отношениях нет взаимопонимания, партнер не&nbsp;понимает ваших потребностей, чувств и желаний 
								li Постоянные конфликты, разговоры ни&nbsp;к&nbsp;чему не&nbsp;приводят
								li Нет такой близости как раньше, партнер стал холоднее
					.col-md-5
						.about-item.about-item-lightblue
							.about-item-head
								+img('about-item-head-img', 'img/images/about-2.png', 'Проблемы с&nbsp;самооценкой и принятием себя')
								h5.about-item-head-title Проблемы с&nbsp;самооценкой и принятием себя
							ul.general-list
								li Низкая самооценка и неуверенность в&nbsp;себе
								li Критика себя и своей внешности
								li Внутренние проблемы и ограничивающие убеждения, мешающие полноценной жизни
				.row
					.col-md-5.col-md-offset-2
						.about-item.about-item-blue
							.about-item-head
								+img('about-item-head-img', 'img/images/about-3.png', 'Проблемы, связанные с&nbsp;эмоциональным состоянием')
								h5.about-item-head-title Проблемы, связанные с&nbsp;эмоциональным состоянием
							ul.general-list
								li Апатия, отсутствие сил и энергии 
								li Частые перепады настроения, стресс и постоянное чувство тревоги 
								li Нет понимания как справиться с&nbsp;проблемами и найти выход из&nbsp;сложной ситуации
					.col-md-5
						.about-item.about-item-pink
							.about-item-head
								+img('about-item-head-img', 'img/images/about-4.png', 'Проблемы в&nbsp;отношениях с&nbsp;окружающими')
								h5.about-item-head-title Проблемы в&nbsp;отношениях с&nbsp;окружающими
							ul.general-list
								li Сложности в&nbsp;общении и установлении близких контактов
								li Отсутствие поддержки от&nbsp;окружающих
								li Сложно отстаивать свои границы и говорить “Нет”
			.about-item.about-item-green.about-item-single.about-item-single-2
				h5.about-item-single-title Диагностика – возможность определить ваше текущее положение 
					br.mob-none
					| и выбрать путь решения, который будет подходит именно вам.
			.about-time
				.row
					.col-md-5.col-md-offset-1
						p.general-text.general-text-right Регистрируйтесь на&nbsp;бесплатную 
							br.mob-none
							| консультацию в&nbsp;течение 
							span 5&nbsp;минут
							|  и получите 
							br.mob-none
							| X абсолютно бесплатно!
					.col-md-5
						.about-time-5
							p.about-time-5-text 05:00
				+img('about-time-img', 'img/images/arrow-down.png', 'Стрелка вниз')
				+b('', '', href, 'Зарегистрироваться')
			+img('general-img general-img-about-2', 'img/images/face.png', 'Лицо')