mixin st(n, h5, p, res)
	.step
		.content
			.step-num
				h4='0'+n
			.step-info
				h5.step-info-title=h5
				p.step-info-text=p
				p.step-info-text
					span Результат: 
					=res
section#plan
	.container
		.row
			.col-md-5
				.gt-wrapper
					.content
						+gt('', 'Что вас ждет на&nbsp;диагностике')
		.row
			.col-md-10.col-md-offset-2
				.steps
					+st('1', 'Разберем вашу ситуацию', 'Посмотрим на нее со стороны - объективно, без критики и оценки', 'сможете выйти за рамки привычного взгляда на ситуацию и увидеть картину целиком')
					+st('2', 'Определим для вас индивидуальную стратегию изменений', 'Обсудим пути решения ситуации, исходя из особенностей вашей ситуации', 'увидите перспективы для своего роста и решения ваших проблем, поймете приоритетные направления работы')
					+st('3', 'Познакомим с программами, подходящими под ваш запрос', 'Предложим подходящую именно вам обучающую программу, обсудим, как она может стать ключом к выходу на новый уровень', 'узнаете, как обозначенный план приведет вас к желаемым улучшениям')
		+b('', '', href, 'Пройти бесплатную диагностику')