section#authors
	.container
		p.author-pre Спикер
		+gt('','Кто ведет диагностику?')
		.author.author-1
			+img('author-img', 'img/images/author-1.png', 'Елена Устинова')
			.author-info
				h4.author-info-name Елена Устинова
				p.author-info-text Психотерапевт
				p.author-info-text Регрессолог
				p.author-info-text Специалист по&nbsp;системным-расстановкам и метафорическим картам
				p.author-info-text Супервизор
				p.author-info-text Преподаватель-психологии
				p.author-info-text.author-info-text-spec Специализация
				ul.general-list
					li Родовые программы, сценарии, воронки, убеждения, установки
					li Страхи/фобии, панические атаки
					li Созависимые/токсичные отношения, личные границы
					li Причины заболеваний, болевых симптомов, бесплодия
					li Деньги (долги/кредиты, безденежье, сливы, финансовые потолки, деньги в паре)
					li Вопросы предназначения, призвания, миссии
			+img('general-img general-img-author-1', 'img/images/author-1-thread.png', 'Нити')
		.author.author-2
			+img('author-img', 'img/images/author-2.png', 'Дарья Гиренко')
			.author-info
				h4.author-info-name Дарья Гиренко
				p.author-info-text Клинический психолог
				p.author-info-text Детский психолог
				p.author-info-text Специалист системно-родовой терапии и метафорических ассоциативных карт
				p.author-info-text.author-info-text-spec Специализация
				ul.general-list
					li депрессии
					li тревожные состояния
					li суицидальное поведение
					li самоповреждающее поведение / селфхарм
					li страхи, фобии, панические атаки
					li работа с&nbsp;родителями, налаживание доверительных отношений с&nbsp;детьми
					li самоценность, принятие, личные границы
		.author.author-3
			+img('author-img', 'img/images/author-3.png', 'Нина Шарапова')
			.author-info
				h4.author-info-name Нина Шарапова
				p.author-info-text Психолог
				p.author-info-text Мак - терапевт
				p.author-info-text Игропактик
				p.author-info-text Специалист по системно – родовой терапии
				p.author-info-text.author-info-text-spec Специализация
				ul.general-list
					li Проблемы отношений в&nbsp;паре
					li Отношения с&nbsp;детьми / родителями
					li Проявление, развитие и рост
					li Финансовые вопросы
					li Личные границы и эмоциональное состояние
					li Предназначение
		+b('', '', href, 'Пройти бесплатную диагностику')